.question {
    font-size: 20px;
    width: 550px;
    height: auto;
    margin-left: 5px;
    padding: 0;
    display: inline-block;
}
.option {
    /*margin-bottom: 15px;*/
    padding-right: 15px;
    padding-left: 10px;
    display: inline-flex;
}
.icon-option-delete {
    height: 16px;
    width: 16px;
    display: flex;
    margin-top: 10px;
}